.navstyle {    
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    background-color: #242423;
    min-height: 10vh;
    color: white;
    font-size: 20px;
    
}

.dashboard-navstyle {
    color: white;
}

.dashboard-navstyle:hover {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.dashboard-text {
    font-size: 14px;
}

.dashboard-text b{
    font-size: 18px;
    text-transform: capitalize;
}

button{
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

.bg-black {
    background-color: white;
}

.space-img {
    max-height: fit-content;
    max-width: 100vw;
    height: 100vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/302/656/898/ship-ocean-battle-atlantic-ocean-clouds-wallpaper-preview.jpg");
    background-size: cover;
}