.button-placement {
    text-align: center;
    padding-top: 10px;
}
#app{
    height: 100vh;
}
.login-component{
    height: 100%;
}
.header {
    padding: 15px;
}
.extra-space {
    margin: 15px;
}
.danger {
    color: red;
}